
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판입니다.')">

    <!-- @{...}는 타임리프의 기본 링크 표현 구문 -->
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="css/starter-template.css" rel="stylesheet"/>
    <style>
        .starter-template {
            margin-top: 80px; /* You can adjust the top margin as needed */
        }

        .table {
            font-size: 14px; /* You can adjust the font size as needed */
        }

        /* 아이콘 */
        .footer-icons {
            position: fixed;
            bottom: 10px;
            right: 10px;
        }

        .footer-icons a {
            margin-right: 10px;
            color: #007bff;
            font-size: 24px;
        }

    </style>

    <title>678 프로젝트.</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')"></nav>

<h1>마이페이지</h1>

<!-- myPage.html -->

<div th:if="${userDetail != null}">
    <p><strong>Username:</strong> <span th:text="${userDetail.username}"></span></p>
    <p><strong>Nickname:</strong> <span th:text="${userDetail.nickname}"></span></p>
    <p><strong>Email:</strong> <span th:text="${userDetail.email}"></span></p>
    <p><strong>Role:</strong> <span th:text="${userDetail.role}"></span></p>
    <p><strong>Create Date:</strong> <span th:text="${userDetail.createDate}"></span></p>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</body>
</html>
