
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판입니다.')">

    <!-- @{...}는 타임리프의 기본 링크 표현 구문 -->
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="css/starter-template.css" rel="stylesheet"/>
    <style>
        .starter-template {
            margin-top: 80px; /* You can adjust the top margin as needed */
        }

        .table {
            font-size: 14px; /* You can adjust the font size as needed */
        }

        /* 아이콘 */
        .footer-icons {
            position: fixed;
            bottom: 10px;
            right: 10px;
        }

        .footer-icons a {
            margin-right: 10px;
            color: #007bff;
            font-size: 24px;
        }
        #searchForm {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa; /* 필요에 따라 배경색 조절 */
            padding: 10px;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 선택 사항: 박스 쉐도우 추가 */
        }

        #searchType {
            max-width: 30px; /* 최대 너비 조절 */
            width: 100%; /* 100%로 설정하여 부모 요소의 너비에 맞추기 */
        }

    </style>

    <title>678 프로젝트.</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')"></nav>

<main role="main" class="container">
    <div class="starter-template">

        <table class="table table-bordered" style="margin-top: 100px;">
            <!-- CONTENTS !-->
            <thead>
            <tr>
                <th class="col-md-1">번호</th>
                <th class="col-md-5">글제목</th>
                <th class="col-md-1">작성자</th>
                <th class="col-md-2">작성일</th>
                <th class="col-md-2">수정일</th>
            </tr>
            </thead>

            <tbody>
            <!-- CONTENTS !-->
            <tr th:each="board : ${boardList}">
                <td th:text="${board.id}"></td>
                <td><a th:href="'/board/post/'+${board.id}" th:text="${board.title}"></a></td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.createdAt} ? ${#temporals.format(board.createdAt,'yyyy-MM-dd HH:mm')} : ${board.createdAt}"></td>
                <td th:text="${board.updatedAt} ? ${#temporals.format(board.updatedAt,'yyyy-MM-dd HH:mm')} : ${board.updatedAt}"></td>
            </tr>
            </tbody>
        </table>
        <!-- Pagination -->
        <div style="margin: 10px">
            <span th:each="pageNum : ${pageList}" th:inline="text">
                <a th:href="@{'/board/list?page=' + ${pageNum}}">[[${pageNum}]]</a>
            </span>
            <!-- 글쓰기 버튼 -->
            <a style="float: right" class="btn btn-primary" th:href="@{/board/post}">글쓰기</a>
        </div>

        <!-- 검색 form -->
        <script>
            function changeSearchAction() {
                var selectedOption = document.getElementById("searchType").value;
                var form = document.getElementById("searchForm");

                if (selectedOption === "title") {
                    form.action = "/board/search/title";
                } else if (selectedOption === "content") {
                    form.action = "/board/search/content";
                } else if (selectedOption === "writer") {
                    form.action = "/board/search/writer";
                } else if (selectedOption === "titleComplex") {
                    form.action = "/board/search/complex";
                }
            }
        </script>

        <script>
            function changeSearchAction() {
                var selectedOption = document.getElementById("searchType").value;
                var form = document.getElementById("searchForm");

                if (selectedOption === "title") {
                    form.action = "/board/search/title";
                } else if (selectedOption === "content") {
                    form.action = "/board/search/content";
                } else if (selectedOption === "writer") {
                    form.action = "/board/search/writer";
                } else if (selectedOption === "titleComplex") {
                    form.action = "/board/search/complex";
                }
            }
        </script>


        <div>
            <form id="searchForm" method="GET">
                <div class="input-group mb-3">
                    <select id="searchType" class="custom-select" onchange="changeSearchAction()" style="max-width: 150px; width: 100%;">
                        <option value="selectOption">옵션 선택</option>
                        <option value="titleComplex">제목 + 내용</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="writer">작성자</option>
                    </select>
                    <input class="form-control" name="keyword" type="text" placeholder="검색어를 입력해주세요."  style="max-width: 600px; width: 100%;">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">검색하기</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <!-- 수정된 부분 -->
    <!--    <div class="footer-icons" style="position: fixed; bottom: 100px; right: 100px;">-->
    <!--        &lt;!&ndash; JavaScript 함수를 호출하여 미니 창 열기 &ndash;&gt;-->
    <!--        <a href="javascript:void(0);" title="chat" onclick="openMiniChat()" style="font-size: 72px; color: black;"><i class="fas fa-comment-dots"></i></a>-->
    <!--    </div>-->

</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

<!-- JavaScript 함수 추가 -->
<!--<script>-->
<!--    function openMiniChat() {-->
<!--        // "/chat" 경로로 새 창 열기-->
<!--        var chatWindow = window.open('/Guchat', '_blank', 'width=700, height=600, top=100, left=500');-->


<!--        if (chatWindow) {-->
<!--            chatWindow.focus();-->
<!--        }-->
<!--    }-->
<!--</script>-->

</body>
</html>