
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('678 프로젝트')}">
    <!-- @{...}는 타임리프의 기본 링크 표현 구문 -->
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="css/starter-template.css" rel="stylesheet"/>
    <style>
        .starter-template {
            margin-top: 80px; /* You can adjust the top margin as needed */
        }

        .table {
            font-size: 14px; /* You can adjust the font size as needed */
        }

        .infowindow-content img {
            max-width: 150px;
            max-height: 100px;
        }
    </style>

    <title>678 서비스입니다.</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="~{fragments/common :: menu('home')}"></nav>
<div id="map" style="width:100%;height:100vh;"></div>

<!-- 지도 오른쪽 상단에 버튼 추가 -->
<div style="position: absolute; top: 130px; right: 30px; z-index: 1;">
    <button id="parkButton" onclick="toggleMarker('park')">공원 조회</button>
    <button id="pollutionButton" onclick="toggleMarker('pollution')">미세먼지 조회</button>
    <!-- 기존 버튼들 다음에 이 버튼을 추가하세요 -->
    <button id="currentLocationButton" onclick="getCurrentLocation()">현재 위치 조회</button>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=08832532aa6f2163723a7ae23cda0da2"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.5665, 126.9780), // 서울 중심좌표
            level: 7 // 지도의 확대 레벨
        };

    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var infowindow = new kakao.maps.InfoWindow();
    var parkMarkers = [];
    var pollutionMarkers = [];
    var parkButtonClicked = false;
    var pollutionButtonClicked = false;

    // 마커 클릭시 나타나는 정보 창을 닫는 함수
    function closeInfowindow() {
        infowindow.close();
    }

    // fetch
    const fetchParkData = async () => {
        try {
            const response = await fetch(
                // PTH 집 PC
                // "http://192.168.200.105:8100/api/v1/park-service/load"
                // PTH 노트북
                "http://192.168.219.110:8100/api/v1/park-service/load"
            );
            if (response.ok) {
                const data = await response.json();

                // 마커 생성 및 이벤트 처리
                data.forEach((park) => {
                    const markerPosition = new kakao.maps.LatLng(park.parkLocY, park.parkLocX);

                    // 마커 생성
                    const marker = new kakao.maps.Marker({
                        position: markerPosition,
                        map: map,
                    });

                    // 마커 클릭 이벤트 등록
                    kakao.maps.event.addListener(marker, 'click', function() {
                        // 정보 창 내용
                        const infowindowContent = `
                                <div class="infowindow-content">
                                    <p><strong>${park.parkName}</strong></p>
                                    <p>Address: ${park.parkAddr}</p>
                                    <p>Telephone: ${park.telNum}</p>
                                    <img src="${park.parkImg}" alt="Park Image" style="max-width: 100%; max-height: 100%;">
                                    <button onclick="closeInfowindow()">Close</button>
                                </div>
                            `;

                        // 정보 창 설정
                        infowindow.setContent(infowindowContent);
                        infowindow.setPosition(markerPosition);
                        infowindow.open(map, marker);
                    });

                    parkMarkers.push(marker);
                });
            } else {
                console.error("Failed to fetch park data");
            }
        } catch (error) {
            console.error("Error while fetching park data", error);
        }
    };

    const coordinatesMap = {
        "종로구": { lat: 37.5730, lng: 126.9794 },
        "중구": { lat: 37.5635, lng: 126.9975 },
        "용산구": { lat: 37.5320, lng: 126.9900 },
        "성동구": { lat: 37.5635, lng: 127.0365 },
        "광진구": { lat: 37.5488, lng: 127.0835 },
        "동대문구": { lat: 37.5744, lng: 127.0395 },
        "중랑구": { lat: 37.5949, lng: 127.0875 },
        "성북구": { lat: 37.5891, lng: 127.0182 },
        "강북구": { lat: 37.6405, lng: 127.0257 },
        "도봉구": { lat: 37.6688, lng: 127.0476 },
        "노원구": { lat: 37.6542, lng: 127.0568 },
        "은평구": { lat: 37.6175, lng: 126.9227 },
        "서대문구": { lat: 37.5825, lng: 126.9350 },
        "마포구": { lat: 37.5665, lng: 126.9019 },
        "양천구": { lat: 37.5271, lng: 126.8563 },
        "강서구": { lat: 37.5509, lng: 126.8495 },
        "구로구": { lat: 37.4954, lng: 126.8874 },
        "금천구": { lat: 37.4568, lng: 126.8953 },
        "영등포구": { lat: 37.5250, lng: 126.9004 },
        "동작구": { lat: 37.4975, lng: 126.9830 },
        "관악구": { lat: 37.4653, lng: 126.9460 },
        "서초구": { lat: 37.4761, lng: 127.0378 },
        "강남구": { lat: 37.4954, lng: 127.0628 },
        "송파구": { lat: 37.5049, lng: 127.1147 },
        "강동구": { lat: 37.5499, lng: 127.1465 },
    };

    const fetchPollutionData = async () => {
        try {
            // PTH 집 PC
            // const response = await fetch("http://192.168.200.105:8100/api/v1/pollution-service/load");
            // PTH 노트북
            const response = await fetch("http://192.168.219.110:8100/api/v1/pollution-service/load");
            if (response.ok) {
                const data = await response.json();

                // 데이터가 배열 형태일 때, 모든 항목에 대해 처리
                data.forEach((pollution) => {
                    // 행정구의 이름을 가져옴
                    const msrName = pollution.msrName;

                    // 해당 행정구의 좌표를 가져옴
                    const coordinates = coordinatesMap[msrName];

                    // Grade에 따른 색상 매핑
                    let color;
                    switch (pollution.grade) {
                        case "나쁨":
                            color = '#ff6666';  // 옅은 빨간색
                            break;
                        case "보통":
                            color = '#66cc66';  // 초록색
                            break;
                        case "좋음":
                            color = '#6666ff';  // 파란색
                            break;
                        case "점검중":
                            color = '#cccccc';  // 옅은 회색
                            break;
                        default:
                            color = '#cccccc';  // 기본 값: 옅은 회색
                    }

                    // 마커 대신 원으로 표현
                    const circle = new kakao.maps.Circle({
                        center: new kakao.maps.LatLng(coordinates.lat, coordinates.lng),  // 원의 중심 좌표
                        radius: 1500,  // 원의 반지름 (미터 단위)
                        strokeWeight: 1,  // 선의 두께
                        strokeColor: color,  // 선의 색깔
                        strokeOpacity: 0.7,  // 선의 불투명도
                        fillColor: color,  // 채우기 색깔
                        fillOpacity: 0.3,  // 채우기 불투명도
                        map: map,
                    });

                    // 마커 클릭 이벤트 등록
                    kakao.maps.event.addListener(circle, 'click', function() {
                        // 행정구의 좌표를 가져옴
                        const coordinates = coordinatesMap[msrName];

                        // 정보 창 내용
                        const infowindowContent = `
                                <div class="infowindow-content">
                                    <p><strong>${msrName}</strong></p>
                                    <p>Grade: ${pollution.grade}</p>
                                    <p>PM10: ${pollution.pm10}</p>
                                    <p>Update Time: ${pollution.updateTime}</p>
                                    <button onclick="closeInfowindow()">Close</button>
                                </div>
                            `;

                        // 정보 창 설정
                        infowindow.setContent(infowindowContent);
                        infowindow.setPosition(new kakao.maps.LatLng(coordinates.lat, coordinates.lng));
                        infowindow.open(map);
                    });

                    pollutionMarkers.push(circle);
                });
            } else {
                console.error("Failed to fetch pollution data");
            }
        } catch (error) {
            console.error("Error while fetching pollution data", error);
        }
    };

    function toggleMarker(type) {
        if (type === 'park') {
            parkButtonClicked = !parkButtonClicked;

            if (parkButtonClicked) {
                fetchParkData();
            } else {
                // 마커 제거
                parkMarkers.forEach(marker => marker.setMap(null));
                parkMarkers = [];
            }
        } else if (type === 'pollution') {
            pollutionButtonClicked = !pollutionButtonClicked;

            if (pollutionButtonClicked) {
                fetchPollutionData();
            } else {
                // 마커 제거
                pollutionMarkers.forEach(circle => circle.setMap(null));
                pollutionMarkers = [];
            }
        }
    }

    // function getCurrentLocation() {
    //     if (navigator.geolocation) {
    //         navigator.geolocation.getCurrentPosition(
    //             function(position) {
    //                 const userLatLng = new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude);
    //
    //                 // 사용자의 현재 위치를 표시하는 마커 추가
    //                 const userMarker = new kakao.maps.Marker({
    //                     position: userLatLng,
    //                     map: map,
    //                     title: '현재 위치',
    //                     image: {
    //                         // 마커 이미지 설정 (원하는 이미지 URL을 사용하세요)
    //                         src: 'https://ifh.cc/g/f8d3br.jpg',
    //                         size: new kakao.maps.Size(50, 50),
    //                     },
    //                 });
    //
    //                 // 지도 중심을 사용자의 위치로 이동
    //                 map.setCenter(userLatLng);
    //
    //                 // 정보 창에 현재 위치 정보 표시
    //                 const infowindowContent = `
    //                     <div class="infowindow-content">
    //                         <p><strong>현재 위치</strong></p>
    //                         <p>위도: ${position.coords.latitude}</p>
    //                         <p>경도: ${position.coords.longitude}</p>
    //                         <button onclick="closeInfowindow()">닫기</button>
    //                     </div>
    //                 `;
    //                 infowindow.setContent(infowindowContent);
    //                 infowindow.setPosition(userLatLng);
    //                 infowindow.open(map, userMarker);
    //             },
    //             function(error) {
    //                 console.error('현재 위치를 가져오는 데 실패했습니다.', error);
    //             }
    //         );
    //     } else {
    //         console.error('Geolocation API가 지원되지 않습니다.');
    //     }
    // }


</script>

</body>

</html>
